.container
  %ul.nav.nav-tabs
    %li.active
      %a{ data: { toggle: 'tab' }, href: '#user-groups' }= t('user_groups.title')
    %li
      %a{ data: { toggle: 'tab' }, href: '#create-user-group'}= t('user_groups.create')

  .tab-content
    #user-groups.tab-pane.fade.in.active
      = render 'shared/search_bar', query: @facade.ransack_query, searchable_fields: :group_name_cont
      = render 'table', user_groups: @facade.user_groups

    #create-user-group.tab-pane.fade.well
      = render 'form', user_group: @user_group