= f.label :user_groups

.well
  = f.select :user_group_ids, [], {}, class: 'select-group', style: 'width: 100%', name: 'user[user_group_ids][]'

:coffee
  handler = new HRDepartment.Autocomplete(
    '.select-group',
    "#{user_groups_path}",
    'group_name_cont',
    "#{user_user_groups_path(user, format: :json) unless user.new_record?}"
  )

  handler.init()
