.container
  %ul.nav.nav-tabs
    %li.active
      %a{ data: { toggle: 'tab' }, href: '#users' }= t('users.title')
    %li
      %a{ data: { toggle: 'tab' }, href: '#create-user'}= t('users.create')

  .tab-content
    #users.tab-pane.fade.in.active
      = render 'shared/search_bar', query: @facade.ransack_q, searchable_fields: :first_name_or_last_name_or_email_cont
      = render 'table', users: @facade.users
    #create-user.tab-pane.fade.well
      = render 'form', user: @user