- @posts.each do |post|
  .well
    .container
      .row
        .col-sm-3
          = image_tag post.picture.url(:thumb)
        .col-sm-5
          %h3= link_to post.title, post
        .col-sm-4
          = render 'tags', post: post

.text-center
  = will_paginate @posts, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer