// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stylish-input-group button{
  border: 0;
  background: transparent;
  position: absolute;
  top: 7px;
  right: 20px;
}